.addTodo_input {
 margin: 1% auto;
 display: flex;
 align-items: flex-end;
 justify-content: center;
 width: 95%;
 height: 5%;
 box-shadow: 1px 1px 0px 1px red;
 padding: 1%;
}

.addTodo_form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.addTodo_input_field {
    width: 85%;
    font-size: 20px;
    border: 1px solid gray;
    border-right: 0;
    border-radius: 2px;
    padding: 2px 4px;
}

.addTodo_button {
    width: 15%;
    font-size: 20px;
    cursor: pointer;
    color: rgb(0, 90, 0);
    font-weight: 700;
    background: white;
    border: 1px solid gray;
    border-radius: 2px;
    border-left: 0;
    padding: 2px 4px;
}

.addTodo_button:hover {
    background: rgb(0, 90, 0);
    color: white;
}

@media only screen and (max-width: 600px) {
    .addTodo_input {
        flex-wrap: wrap; 
        align-items: center;
        justify-content: center;
        width: 90%; 
        height: auto; 
        margin: 1% auto; 
        padding: 5px;
    }
    .addTodo_form {
        width: 90%; 
    }
    .addTodo_input_field {
        width: 90%; 
        font-size: 16px; 
    }
    .addTodo_button {
        width: 10%; 
        font-size: 16px; 
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .addTodo_input {
        width: 90%; 
        height: auto; 
        padding: 10px; 
    }
    .addTodo_form {
        width: 70%; 
    }
    .addTodo_input_field {
        width: 90%; 
        font-size: 18px; 
    }
    .addTodo_button {
        width: 10%; 
        font-size: 18px; 
    }
}

@media only screen and (min-width: 1025px) {
    .addTodo_input {
        width: 95%; 
        height: auto; 
        padding: 20px; 
    }
    .addTodo_form {
        width: 60%; 
    }
    .addTodo_input_field {
        width: 90%; 
        font-size: 24px; 
    }
    .addTodo_button {
        width: 10%; 
        font-size: 24px; 
    }
}